.ipynb_checkpoints/
click_features
demo
viz
predictions.json
__pycache__/
model/mdps/
model/tmp/
fighist/
model/results/
model/scratch_base.jl

analysis/*.csv
analysis/tmp4r/
analysis/imgs/*-cropped.png

model.bak/
analysis.bak/
