.ipynb_checkpoints/
model/figs/
model/notes.txt
model/benchmark.ipynb
model/pullfigs.sh
model/scratch.jl
model/scratch_base.jl
model/test_grad.jl
model/test_hashing.jl
model/test_models.jl
data
results
figs
plots-Copy1.ipynb
__pycache__/
alt-analysis.ipynb
explore_reward.ipynb
model/dump.jl
model/exp2_env_base.jl
model/exp2_environment.jl
model/explore_optimal.jl
model/explore_optimal.sbatch
model/find_tutor_env.jl
model/huys_pruning.jl
model/mdps/
model/old_def.jl
model/pareto2.jl
model/pareto3.jl
model/pareto_alt.jl
model/plot_likelihood.jl
model/solve.sbatch
model/solve.sh
model/tmp/
old/
bonus.csv
dump.py
fighist/
